/* body {
    position: relative;
} */

.heading {
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.author {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.author-name {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 22px;
    width: 50%;
}

#adding-user-comments {
    background-color: lightgrey;
    width: 100%;
    margin: 10px;
    padding: 10px;
    position: absolute;
    color: black;
}


/* .comment {
    background-color: white;
    margin: 10px;
    padding: 10px;
} */

#edit-button {
    margin-left: 500px;
    float: right;
    height: 40px;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}

.post-page-content {
    word-wrap: break-word;
    margin-top: 20px;
}

#like-button {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
}

#comment-button {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 120px;
    padding: 5px;
    border-radius: 2px;
}

#show-user-Count {
    margin-bottom: 30px;
}

#allCommentsHeading {
    font-weight: bolder;
    padding-top: 10px;
}

.comment-container {
    min-height: 0px;
    overflow: hidden;
}